.login_container {
  height: 100%;
  margin: auto;
  max-width: 450px;
}

.login-form-container {
  width: 100%;
}

.headings-container {
  margin-bottom: 40px;
  width: 100%;
}

.heading1 {
  font-size: 28px;
}

.heading2 {
  font-size: 16px;
}

.btn-width {
  margin-top: 30px;
  width: 200px;
}

.text-size {
  font-size: 14px;
}

