<div class='login_container d-flex flex-column justify-content-center align-items-center'>
  <div class='headings-container full-width'>
    <h1 class='heading1-text'>{{heading1}}</h1>
    <h3 class='heading3-text'>{{heading2}}</h3>
  </div>
  <alert></alert>
  <div class='full-width'>
    <form name='form' (ngSubmit)='f.form.valid && login()' #f='ngForm' novalidate>
      <div class='form-group'>
        <label class='label-text' for='username'>{{emailText}}</label>
        <input type='email' 
          class='form-control' 
          [ngClass]='{ "is-invalid": f.dirty && !username.valid }' 
          name='username' 
          id='username' 
          aria-describedby='emailHelp' 
          placeholder='Enter email'
          [(ngModel)]='model.username' 
          #username='ngModel' 
          required>
        <div *ngIf='f.dirty && !username.valid' class='invalid-text'>Please enter your correct email.</div>
      </div>
      <div class='form-group'>
        <div class='d-flex justify-content-between'>
          <label class='label-text' for='password'>{{passwordText}}</label>
          <a [routerLink]="['/forgotPassword']"><small id='emailHelp' class='form-text text-muted'>{{forgotPasswordText}}</small></a>
        </div>
        <input type='password'
          class='form-control'
          [ngClass]='{ "is-invalid": f.dirty && !password.valid }'
          id='password'
          placeholder='Password'
          name='password'
          [(ngModel)]='model.password'
          #password='ngModel'
          required>
        <div *ngIf='f.dirty && !password.valid' class='invalid-text'>Please enter your correct password.</div>
      </div>
      <div class='form-check'>
        <label class='form-check-label text-muted body-text'>
          <input type='checkbox' class='form-check-input'>
          {{keepLoggedText}}
        </label>
      </div>
      <div class='btn-group d-flex justify-content-center'>
        <button type='submit' class='btn btn-lg btn-primary btn-width'>{{loginText}}</button>
      </div>
    </form>
  </div>
</div>