.itemList-container {
  margin: 0 5%;
  border-top: 1px solid #818A91;
}

.itemList-row {
  border-bottom: 1px solid #818A91;
  padding: 20px 0;
}

.clickable {
  cursor: pointer;
}

.btn-details {
  padding: 5px 20px;
  margin-right: 10px;
  display: none;
}

.btn-arrow {
  padding: 5px 10px;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .btn-details {
    display: block;
  }
}