<main class='d-flex justify-content-between' [ngClass]='{ "full-height": currentRoute !== "/" }'>
  <div *ngIf='currentRoute !== "/"' class='side-bg'></div>
  <div class='full-height full-width'>
    <headerLogin *ngIf='currentRoute !== "/"'></headerLogin>
    <headerMain *ngIf='currentRoute === "/"'></headerMain>
    <div *ngIf='currentRoute !== "/"' class='login-container d-flex flex-column justify-content-center'>
      <router-outlet></router-outlet>
    </div>
    <div *ngIf='currentRoute === "/"' class='main-container full-height d-flex flex-column '>
      <router-outlet></router-outlet>
    </div>
    <footerMain *ngIf='currentRoute === "/"'></footerMain>
  </div>
</main>
