<div class='panel panel-primary itemList-container'>
	<div class='panel-body'>
		<section class='table d-flex flex-column' *ngIf='mergedItemList.length'>
			<div *ngFor='let item of mergedItemList' class='itemList-row d-flex justify-content-between align-items-center'>
				<main>
					<div class='heading4-text bootstrap-blue'>
						<a class='clickable'>{{ item.name }} - {{ item.description }}</a>
					</div>
					<div class='small-text bootstrap-gray'>
						{{ item.id }} - {{ item.type }} - {{ item.facilityName }} - Date created {{ item.createDate | date:'short' }}
					</div>
				</main>
				<aside class='d-flex align-items-center'>
					<button 
						type='button'
						class='btn btn-sm btn-details bold-text bootstrap-black'
						(click)="isCollapsed = !isCollapsed"
					>
						View Details
					</button>
					<div class='btn-group' dropdown>
						<button dropdownToggle type='button' class='btn btn-sm dropdown-toggle btn-arrow'>
							<span class='caret'></span>
						</button>
						<ul *dropdownMenu class='dropdown-menu dropdown-menu-right' role='menu'>
							<li role='menuitem'><button class='dropdown-item'>Edit</button></li>
							<li role='menuitem'><button class='dropdown-item'>Duplicate</button></li>
							<li role='menuitem'><button class='dropdown-item'>Delete</button></li>
						</ul>
					</div>
				</aside>
			</div>
			<div class="well">
				<div 
					class="card card-body"
					(collapsed)="collapsed($event)"
					(expanded)="expanded($event)"
					[collapse]="isCollapsed"
				>
					Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
				</div>
			</div>
		</section>
	</div>
</div>