<nav class='header-container d-flex justify-content-between align-items-center'>
  <a [routerLink]='["/"]'><img class='gorilla-logo' src='../../../assets/GL_Logo.jpg'></a>
  <nav class='nav-right d-flex flex-column flex-md-row align-items-end align-items-md-center justify-content-between justify-content-md-between'>
    <span class='small-text bootstrap-gray'>{{sansAccount}}</span>
    <a [routerLink]='["/register"]' class='btn btn-outline-secondary small-text'>{{requestAccount}}</a>
  </nav>
</nav>