.header-container {
  padding: 20px;
}

.gorilla-logo {
  width: 120px;
}

.nav-right {
  width: 260px;
  height: 55px;
}

.nav-text1 {
  font-size: 12px;
  font-weight: 300;
}

.nav-text2 {
  font-size: 11px;
  font-weight: 300;
}